@import "../../variables.scss";

@mixin coloredButton($mainColor, $secondaryColor) {
	background-color: $mainColor;
	color: $secondaryColor;
	&:hover {
		background-color: darken($mainColor, 10%);
	}
	&:focus {
		background-color: darken($mainColor, 20%);
	}
	&:active {
		background-color: darken($mainColor, 30%);
	}
	&-active {
		background-color: $color__primary;
		&:hover {
			background-color: darken($color__primary, 10%);
		}
		&:focus {
			background-color: darken($color__primary, 20%);
		}
		&:active {
			background-color: darken($color__primary, 30%);
		}
	}
}

.button {
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	@include coloredButton($color__secondary, #ffffff);

	&-primary {
		@include coloredButton($color__primary, $color__secondary);
	}
	&-disabled {
		background-color: $color__default;
		color: $color__secondary;
		&:focus,
		&:hover,
		&:active {
			background-color: $color__default;
		}
		cursor: not-allowed;
	}
}
