@import "../../variables.scss";

.newsItem {
	background-color: white;
	border: 1px solid $color__secondary;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	border-radius: 5px;
	flex-grow: 1;
	.newsItem__name {
		font-size: 18px;
		border-bottom: 2px solid $color__primary;
	}
	.newsItem__text {
		font-size: 14px;
	}
	.newsItem__date {
		font-size: 11px;
	}
	.newsItem__actions {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
